* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.content {
    padding: 60px;
}

.hero {
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    text-align: center;
    background: linear-gradient(
            rgba(103, 197, 72, 0.45),
            rgba(103, 197, 72, 0.45)),
    url('../images/large.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 25;

}

.fade{
    opacity: 1;
}

.hero h1 {
    padding: 100px 0;
    font-size: 50px;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    color: white;
}



@media only  screen and (max-width: 960px) {
    .hero {
        background: linear-gradient(
                rgba(103, 197, 72, 0.45),
                rgba(103, 197, 72, 0.45)),
        url('../images/medium.jpg') no-repeat center center;
    }
}



@media only screen and (max-width: 768px) {
    .hero {
        background: linear-gradient(
                rgba(103, 197, 72, 0.45),
                rgba(103, 197, 72, 0.45)),
        url('../images/small.jpg') no-repeat center center;
    }
}



